<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.secoo.overseas.shop.address.dao.AddressMapper" >

    <resultMap id="addressMap" type="com.system.address.vo.Address">
        <id column="id" property="addressId"/>
        <result column="fname" property="fName" />
        <result column="lname" property="lName" />
        <result column="country_code" property="countryCode" />
        <result column="country_name" property="countryName" />
        <result column="address" property="address" />
        <result column="city_name" property="cityName" />
        <result column="province_code" property="provinceCode" />
        <result column="province_name" property="provinceName" />
        <result column="zip_code" property="zipCode" />
        <result column="phone" property="phone" />
        <result column="is_default" property="isDefault" />
        <result column="user_id" property="userId" />
        <result column="state" property="state" />
        <result column="area_code" property="area" />
    </resultMap>


    <select id="findById" resultMap="addressMap" parameterType="com.system.address.vo.SelAddressRequest">
            SELECT
                id,
                fname,
                lname,
                country_code,
                country_name,
                address,
                city_name,
                province_code,
                province_name,
                zip_code,
                phone,
                is_default,
                user_id,
                area_code
            FROM
                t_address
            WHERE
                state = 1
            AND id = #{addressId}
            AND area_code = #{area}
    </select>



    <insert id="insert" parameterType="com.secoo.overseas.shop.address.vo.Address">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="addressId">
            SELECT LAST_INSERT_ID() AS addressId
        </selectKey>
          INSERT INTO t_address (
            fname,
            lname,
            country_code,
            address,
            city_name,
            province_code,
            zip_code,
            phone,
            is_default,
            user_id,
            state,
            country_name,
            province_name,
            area_code
        )VALUES
        (#{fName},#{lName},#{countryCode},#{address},#{cityName},#{provinceCode},#{zipCode},#{phone},#{isDefault},#{userId},1,#{countryName},#{provinceName},#{area})
    </insert>



    <update id="update" parameterType="com.secoo.overseas.shop.address.vo.Address">
          update t_address
          <set>
              <if test="fName != null" >
                  fname = #{fName},
              </if>
              <if test="lName != null" >
                  lname = #{lName},
              </if>
              <if test="countryCode != null" >
                  country_code = #{countryCode},
              </if>
              <if test="address != null" >
                  address = #{address},
              </if>
              <if test="cityName != null" >
                  city_name = #{cityName},
              </if>
              <if test="provinceCode != null" >
                  province_code = #{provinceCode},
              </if>
              <if test="zipCode != null" >
                  zip_code = #{zipCode},
              </if>
              <if test="phone != null" >
                  phone = #{phone},
              </if>
              <if test="isDefault != null" >
                  is_default = #{isDefault},
              </if>
              <if test="userId != null" >
                  user_id = #{userId},
              </if>
              <if test="state != null" >
                  state = #{state},
              </if>
              <if test="countryName != null" >
                  country_name = #{countryName},
              </if>
              <if test="provinceName != null" >
                  province_name = #{provinceName},
              </if>
          </set>
          WHERE  id = #{addressId}
    </update>


    <update id="updateIsDefault" parameterType="java.lang.Long">
        update t_address set is_default = 1 WHERE user_id = #{userId} AND is_default = 2
    </update>



















    <select id="findByUser" parameterType="com.secoo.overseas.shop.address.vo.SelAddressRequest" resultMap="addressMap">
           SELECT
                        id,
                        fname,
                        lname,
                        country_code,
                        country_name,
                        address,
                        city_name,
                        province_code,
                        province_name,
                        zip_code,
                        phone,
                        is_default,
                        user_id,
                        area_code
                    FROM
                        t_address
                    WHERE
                        state = 1
                    AND user_id = #{userId}
                    AND area_code = #{area}
    </select>











</mapper>